.container {

    /* position: absolute;
    top:90%;
    left:5%;
    translate: -50%,-50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;

}

.main_circle {
    position: absolute;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background: black;
}

.content {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    transform-origin: bottom left;
    animation: animate-content 500ms linear forwards;
    background-color: black;
}

.texts {
    opacity: 0;
    color: white;
    animation: text-animation 0s 500ms linear forwards;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
    margin: 5px;
}

.errors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numberoferror {
    font-size: 5px;
    border-radius: 50%;
    color: red;
    background-color: rgba(245, 73, 39, 0.2);
    backdrop-filter: blur(8px);
}

.next_js,
.error {
    font-size: 5px;
}

.next_js {
    color: #CFCFCF
}

.error {
    color: white;
}

@keyframes animate-content {
    0% {
        transform-origin: bottom left;
        transform: translate(0, 0) scale(1);
    }

    100% {
        border-radius: 6px;
        transform: translate(15px, -70px) scale(3.5, 2.5);

    }
}

@keyframes text-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 110;

    }
}