*{
    background-color: white;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
    overflow-x: scroll;

}
.main{
    position: relative;
    height:80vh;
    border:1px solid white;
    padding:10%;
    width:100vw;
    overflow-x: scroll;

}
.days{
    position: absolute;
    /* border:1px solid white; */
    bottom: 50%;
    display: flex;
    gap:9px;
    flex-direction: row;
}
.lines{
    height:40px;
    width:1px;
    background-color: black;
}