.container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    /* position: relative; */
    width: 200px;
    height: 40px;
    /* border:1px solid white; */
    border-radius: 15px;
    overflow: hidden;
}

.small {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.outer_volume {
    height: 5px;
    width: 120px;
    border-radius: 2px;
    overflow: hidden;
    background-color: #616161;


}

.inner_volume {
    background-color: #FFFFFF;
    width: 50%;
    height: 100%;
}

.big {
    position: relative;
    align-items: center;
    gap: 1rem;
    height: 100%;
    overflow: hidden;
}

.outerbig_volume {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #616161;

}

.speaker {
    position: absolute;
    color: white;
    font-size: 25px;
    margin: 5px;
    left: 5px;
    color: black;
    z-index: 1
}

.innerbig_volume {
    height: 100%;
    width: 50%;
    background-color: #CFCFCF;
}