* {
    /* color:white; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    position: relative;
    width: 670px;
    min-height: 420px;
    background-color: #303030;
    padding: 40px;

    display: flex;
    gap: 10px;
}

.times {
    display: flex;
    flex-direction: column;
    gap: 70px;
    color: #9E9E9E;

}

.scheduler {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 92px;
    margin-top: 12px;
    /* border:1px solid white; */
    cursor: none;
}

.line {
    border-top: 1px solid #6E6E6E;
    ;
    width: 500px;
}

.mover {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #6E6E6E;
    top: 20%;
}

.events {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #1877F2;
  
    display: none;
    color:black;
    padding:10px;
}