*{
    /* margin:0;
    padding:0;
     background: #0D0D0D; */
}
.main{
    height:100vh;
   
    display:flex;
    flex-direction: column;
    gap:3rem;
    border:1px solid white;
    padding-left:20px;
    max-width:300px;
}
.container{
    
}
.top_logo{
    padding:20px 0px 0px 0px;
}
.logo{
 font-size:25px;
 font-weight: 400;
  color:white;
}

.top_nav{
    display:flex;
    align-items: center;
   
    gap:10px;
    color: #CFCFCF;

}
.circle{
    width:20px;
    height:20px;
    border-radius:50%;
    background:#FF5533;
}