* {
    /* font-size: 18px;
    color: #CFCFCF; */
   

}

.container {
    position: absolute;
    top:50%;
    left:50%;
    translate: -50%,-50%;
    width: 0;
    height: 50px;
    text-wrap: nowrap;
    overflow: hidden;
    animation: animate-text 2s linear forwards;
    display: flex;
    gap: 10px;
  
}

.text {

}

.slider {
    animation: slider 250ms 2s linear forwards;
}

.changing_div {
    height: 50%;
    overflow: hidden;
}

@keyframes animate-text {
    from {
        width: 0px;
    }

    to {
        width: 250px;
    }
}


@keyframes slider {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-50%);
        background-color: rgba(25, 25, 112,0.8)
        
    }
}

