.main {
    position: relative;

}

.container {
    position: relative;
    width: 270px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background: #000000;
    color: white;
    overflow: hidden;
    font-size: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;

}

.icons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    transition: all 0.2s ease-in;

}

.icons:hover {
    border-radius: 50%;
    padding: 5px;
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.8);
    backdrop-filter: blur(8px);

}

.wrapper {
    position: absolute;
    width: 60px;
    height: 30px;
    overflow: hidden;
    top: -110%;

    border-radius: 10px;
    display: none;

}

.wrapper.hover {
    position: absolute;
    width: 60px;
    height: 30px;
    overflow: hidden;
    top: -110%;

    border-radius: 10px;
}

.names {
    position: absolute;
    width: 300px;
    height: 30px;
    border: none;

    background: #000000;
    color: white;
    overflow: hidden;
    font-size: 20px;

    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: translateX(px);

}