@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

@theme {
  --color-orange-light: #FF775C;
  --color-orange-bold: #FF2A00;
}


/* Animation */
.nextjs:hover::before{

 animation: nextjs-animation 300ms linear forwards; 
}
.nextjs::before{
  background: url(./assets/cross.png);
 

}

@keyframes nextjs-animation {
   0%{
    width:48px;
   }
   100%{
    width:200px;
   }
}