@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

@theme {
  --color-orange-light: #FF775C;
  --color-orange-bold: #FF2A00;
  --color-white-light: #E7E7E7;
  --animate-wiggle: wiggle 250ms linear forwards;
 --animate-toptext: toptext-animation 250ms linear;

  @keyframes toptext-animation {
    to{
     display:none;
    }
  
}


  @keyframes wiggle {
    from{
        width:60px;
    }to{
        width:200px;
    }
  }
@keyframes text-animation {
  from{
       top:32px;
       opacity:0;
  }to{
       top:16px;
       opacity:1;
  }
}
@keyframes backward {
    from{
        width:200px;
    }to{
        width:60px;
    }
}

}

.transition-backward{
  animation: backward 250ms linear ;
}
.text-animation{
  animation: text-animation 1s  linear forwards;
}

