@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

@theme {
  --color-orange-light: #FF775C;
  --color-orange-bold: #FF2A00;
  --animate-wiggle: wiggle 250ms linear forwards;

  @keyframes wiggle {
    from{
        width:48px;
    }to{
        width:200px;
    }
  }
}


